ssl_certificate /etc/letsencrypt/live/www.domain.tld/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/www.domain.tld/privkey.pem;
include /etc/letsencrypt/options-ssl-nginx.conf;
ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;